<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.bbodeum.program.vo.Program" alias="Program"/>
		<typeAlias type="com.bbodeum.trainer.vo.Trainer" alias="Trainer"/>
		<typeAlias type="com.bbodeum.keyword.vo.Keyword" alias="Keyword"/>
		<typeAlias type="com.bbodeum.apply.vo.Apply" alias="Apply"/>
		<typeAlias type="com.bbodeum.dog.vo.Dog" alias="Dog"/>
	</typeAliases>
	<environments default="mybatis_test">
		<environment id="mybatis_test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<!-- <property name="url" value="jdbc:oracle:thin:@192.168.0.32:1521:xe" /> -->
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="bbodeum" />
				<property name="password" value="bbodeum" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
  		<mapper resource="resource/ProgramMapper.xml"/>
  		<mapper resource="resource/TrainerMapper.xml"/>
  		<mapper resource="resource/DogMapper.xml"/>
  		<mapper resource="resource/ApplyMapper.xml"/>
  	</mappers>
</configuration>
